<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background background-hero">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> Das virtuelle Klassenzimmer </h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("greenlight"), "https://bigbluebutton.org/2018/07/09/greenlight-2-0/", target: "_blank", rel: "noopener")).html_safe %></p>
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Klassenzimmer erstellen</a>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>


<div class="background background-hero">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> Jetzt kostenlos registrieren </h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Klassenzimmer erstellen</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-8 mb-6 text-center feature-container">
    
    <h2>So funktionierts</h2>
    
<div class="row feature-stamp w3-features">
    <div class="col-lg-4 col-md-12 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-user-plus"></i></span>
      <h4 class="mt-4">1. Registrieren</h4>
      <p>Registriere dich, um das System und seine Funktionen nutzen zu können.</p>

    </div>

    <div class="col-lg-4 col-md-12 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-edit"></i></span>
      <h4 class="mt-4">2. Raum erstellen</h4>
      <p>Erstelle einen individuellen Raum, den du mit Anderen teilen kannst.</p>

    </div>

    <div class="col-lg-4 col-md-12 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-user-friends"></i></span>
      <h4 class="mt-4">3. Schüler einladen</h4>
      <p>Jetzt kannst du auch schon deine Schüler einladen und mit dem Unterricht beginnen!</p>

    </div>
  </div>
</div>