<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background background-hero">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4">Das virtuelle Klassenzimmer.<br>
        Aus der Schweiz. Für die Schweiz. </h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">Einfach digital. Mit LearnEasy24 unterrichten Sie mit unbeschränkter Schüler- und Lektionenzahl. Wir schulen Sie vorab kompakt und effizient. Danach werden Sie alle Möglichkeiten beherrschen, die Ihnen LearnEasy24 bietet. Auch ohne digitale Vorkenntnisse. Garantiert!</p>
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Klassenzimmer erstellen</a>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>


<div class="background background-hero">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> Nachhaltiges Lernen ohne Zeitverlust </h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 my-lead">Die aktuellen Umstände sind für SchülerInnen, Lehrkräfte und Eltern nicht einfach. Durch den Einsatz eines umfassenden, jedoch einfach zu beherrschenden Tools, kann der direkte und und mittelbare Unterricht umgehend aufgenommen werden. Zudem ermöglicht unsere Plattform eine Interaktion zwischen LehrerInnen und SchülerInnen. Somit wird das Home Office für alle zu einem verlängerten Klassenzimmer, in welchem sogar Live-Prüfungen durchgeführt werden können. Denn die Beurteilung von SchülerInnen am Ende des Semesters wird sehr komplex.</p>
        <div class="w3-button-container">
        
          <a href="/b/signup" class="w3-button w3-button--orange"> Klassenzimmer erstellen</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-8 mb-6 text-center feature-container">
    
    <h2>So funktionierts</h2>
    
<div class="row feature-stamp w3-features">
    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-user-plus"></i></span>
      <h4 class="mt-4">1. Registrieren</h4>
      <p>Registrieren Sie sich, um das System und seine Funktionen kennenzulernen.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-edit"></i></span>
      <h4 class="mt-4">2. Schulung Learning by doing</h4>
      <p>Wir schulen Sie im Video-Chat in bringen Ihnen alle Tools bei, die Ihnen zur Verfügung stehen für einen effizienten, digitalen und zugleich persönlichen Unterricht. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-user-friends"></i></span>
      <h4 class="mt-4">3. Klassenzimmer erstellen </h4>
      <p>Erstellen Sie Ihr individuelles digitales Klassenzimmer </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-user-friends"></i></span>
      <h4 class="mt-4">4. SchülerInnen einladen </h4>
      <p>Laden Sie Ihre SchülerInnen zum Unterricht ein - und los geht’s! </p>

    </div>
  </div>
</div>