<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.


# 

# <a href="#preise" class="cta-price"> Preise</a>
%>

<div class="background background-hero">
  <div class="container pt-8 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4 extra-bold">Über Uns</h1>
        
      </div>

    </div>
  </div>
</div>

<div class="container feature-container about-container">
    
    <p>
        svividoo ist ein Videokonferenz-Tool der LearnEasy24 AG, die auch die Lern-Plattform learneasy24.com betreibt. Gründer und CEO der LearnEasy24 AG ist Vincenzo Zinnà. svividoo ist die optimale Wahl für die Online-Zusammenarbeit in Unternehmen und für das Online-Unterrichten und -Lernen für Schulen und ihre Schülerinnen und Schüler.
    </p>
    <p>
        LearnEasy24 AG <br/>
        Weiherstrasse 20 b <br/>
        8580 Amriswil <br/>
        Schweiz
    </p>
    <p>
        deutsch@LearnEasy24.com
    </p>
    <p>
        Handelsregister: (Thurgau) CHE-230.857.124
    </p>
  
</div>


