<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6 feature-heading">Funktionen</h2>

  <p class="feature-subheading">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>

  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Virtuelles Whiteboard</h4>
      <p>Mit den Whiteboard-Steuerelementen können Sie wichtige Teile Ihrer Präsentation mit Anmerkungen versehen.</p>

    </div>

    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Digitale Umfragen</h4>
      <p>Sie können die Schüler jederzeit an Umfragen teilnehmen lassen, um das Engagement zu erhöhen.</p>

    </div>

    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Dateien hochladen</h4>
      <p>Sie können jede PDF-Präsentation oder jedes MS-Office-Dokument hochladen. Ihre aktuellen Folie wird für die Schüler synchronisiert.</p>

    </div>

    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Chats</h4>
      <p>Sie können mit den Schülern über öffentliche und private Chats interagieren.</p>

    </div>

    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Screenreader</h4>
      <p>Schülerinnen und Schüler mit einer Sehbehinderung können den Screenreader verwenden, um mit dem System zu interagieren.</p>

    </div>

    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Aufzeichnen</h4>
      <p>Sitzungen können aufgezeichnet und später von den Schülern abgespielt werden.</p>

    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Bildschirm teilen</h4>
      <p>Sie können Ihre Desktop-Ansicht mit allen Benutzer teilen.</p>

    </div>
    <div class="col-lg-3 col-md-6">
      <span class="stamp bg-primary"><i class="fas fa-film fa-2x"></i></span>
      <h4 class="mt-4">Webcam-Unterstützun</h4>
      <p>Die Benutzer können ihre Webcams gleichzeitig nutzen. Es gibt keine eingebaute Begrenzung der Anzahl.</p>

    </div>
    
  </div>
</div>
