<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center feature-container">

  <h2 class="mb-6 feature-heading">Funktionen</h2>

  <p class="feature-subheading">Top-Funktionen für zeitgemässe Online-Konferenzen. So geht Zukunft.
  <br> 
  Alle Vorteile des Präsenzunterrichts und der Konferenzen verbunden mit digitalen Annehmlichkeiten.</p>


  <iframe class="yt-iframe" src="https://www.youtube.com/embed/pqGXE_S6NwU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



  <div class="row feature-stamp w3-features">
    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="far fa-2x fa-comment-dots"></i></span>
      <h4 class="mt-4">Chats & Gruppenarbeiten </h4>
      <p>Kommunizieren Sie mit allen TeilnehmerInnen gemeinsam oder individuell. In Gruppenarbeitsräumen lassen Sie Ihre TeilnehmerInnen in kleineren Gruppen zusammenarbeiten.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-share-alt"></i></span>
      <h4 class="mt-4">Bildschirm teilen  </h4>
      <p> Durch einen einfachen Klick teilen Sie Webseiten und Dokumente mit Ihren TeilnehmerInnen und können diese bei Wunsch gemeinsam bearbeiten. </p>
    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-video"></i></span>
      <h4 class="mt-4">Webcam-Unterstützung </h4>
      <p>Schalten Sie einzelne oder alle TeilnehmerInnen per Webcam frei und schaffen Sie persönliche Interaktionen. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-chalkboard-teacher"></i></span>
      <h4 class="mt-4">Virtuelles Whiteboard</h4>
      <p>Schreiben und zeichnen Sie gemeinsam mit den TeilnehmerInnen. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="far fa-2x fa-check-circle"></i></span>
      <h4 class="mt-4">Digitale Umfragen </h4>
      <p>Lassen Sie abstimmen, führen Sie ein Quiz durch , und fragen Sie Ihre TeilnemerInnen nach deren Meinung. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-cloud-upload-alt"></i></span>
      <h4 class="mt-4">Dateien hochladen </h4>
      <p>Stellen Sie Powerpoint, Word, Excel und andere Dokumente zur Verfügung. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-camera"></i></span>
      <h4 class="mt-4">Aufzeichnen </h4>
      <p>Zeichnen Sie Ihre Lektionen auf und stellen Sie diese Ihren TeilnehmerInnen digital zur Verfügung. </p>

    </div>
    
  </div>
</div>
