<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center feature-container">

  <h2 class="mb-6 feature-heading extra-bold">Funktionen</h2>

  <p class="feature-subheading"><span class="subheading-bold">Svividoo ist digital. Und konsequent leicht gemacht.</span>

  <br> 
  Svividoo macht das Organisieren und das Durchführen von Online-Unterricht und Online-Meetings einfach. Top-Funktionen. Intuitive Bedienung. So geht Zukunft.</p>



  <div class="row feature-stamp w3-features">
    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="far fa-2x fa-comment-dots"></i></span>
      <h4 class="mt-5 mb-5">Videochats & Gruppenarbeiten </h4>
      <p>Kommunizieren Sie über Video mit allen Teilnehmenden gemeinsam oder individuell. Die Teilnehmenden können auch in verschiedenen kleinen Gruppen zusammenarbeiten.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="fas fa-2x fa-share-alt"></i></span>
      <h4 class="mt-5 mb-5">Bildschirm teilen  </h4>
      <p>Mit nur einem Klick teilen Sie Webseiten und Dokumente mit den Teilnehmenden. Die Dokumente können Sie besprechen und sichtbar bearbeiten.</p>
    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="fas fa-2x fa-video"></i></span>
      <h4 class="mt-5 mb-5">Webcam-Unterstützung </h4>
      <p>Die Teilnehmenden schalten die Webcam individuell frei. So ermöglichen und erhöhen sie die persönlichen Interaktionen.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="fas fa-2x fa-chalkboard-teacher"></i></span>
      <h4 class="mt-5 mb-5">Virtuelles Whiteboard</h4>
      <p>Der Kreativität sind in der digitalen Kommunikation keine Grenzen gesetzt. Nutzen Sie das virtuelle Whiteboard, um Ideen und Diskussionen sofort festzuhalten.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="far fa-2x fa-check-circle"></i></span>
      <h4 class="mt-5 mb-5">Digitale Umfragen </h4>
      <p>Lassen Sie abstimmen, führen Sie ein Quiz durch oder fragen Sie die Teilnehmenden nach deren Meinung. Die Umfrage können Sie sofort auswerten.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="fas fa-2x fa-cloud-upload-alt"></i></span>
      <h4 class="mt-5 mb-5">Dateien hochladen </h4>
      <p>Stellen Sie den Teilnehmenden Powerpoint, Word, Excel und andere Dokumente zur Verfügung und bearbeiten sie diese miteinander.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="fas fa-2x fa-camera"></i></span>
      <h4 class="mt-5 mb-5">Aufzeichnen & bereitstellen </h4>
      <p>Zeichnen Sie Ihre Lektionen oder den Workshop mit Zustimmung der Teilnehmenden auf und stellen Sie diese den Teilnehmenden digital zur Verfügung.</p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp"><i class="fas fa-2x fa-users"></i></span>
      <h4 class="mt-5 mb-5">Breakout-Räume nutzen </h4>
      <p>Ermöglichen Sie den Teilnehmenden das Weiterarbeiten in separaten Gruppen, mit Zugang zu allen Funktionalitäten.</p>

    </div>
    
  </div>
</div>
