<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center feature-container">

  <h2 class="mb-6 feature-heading">Funktionen</h2>

  <p class="feature-subheading">Top-Funktionen für den zeitgemässen Unterricht. So geht Zukunft.
  <br> 
  Alle Vorteile des Präsenzunterrichts verbunden mit digitalen Annehmlichkeiten.</p>

  <div class="row feature-stamp w3-features">
    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="far fa-2x fa-comment-dots"></i></span>
      <h4 class="mt-4">Chats & Gruppenarbeiten </h4>
      <p>Kommunizieren Sie mit allen SchülerInnen gemeinsam oder individuell. In Gruppenarbeitsräumen lassen Sie Ihre SchülerInnen in kleineren Gruppen zusammenarbeiten. 
      Bildschirm teilen 
      Durch einen einfachen Klick ermöglichen Sie Ihren Schülern einen Blick auf Ihr Desktop  </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-video"></i></span>
      <h4 class="mt-4">Webcam-Unterstützung </h4>
      <p>Schalten Sie einzelne oder alle SchülerInnen per Webcam frei und schaffen Sie persönliche Interaktion. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-chalkboard-teacher"></i></span>
      <h4 class="mt-4">Virtuelles Whiteboard</h4>
      <p>Perfekte Sicht an die Tafel für alle SchülerInnen. Sie können diese sogar an die Tafel rufen. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="far fa-2x fa-check-circle"></i></span>
      <h4 class="mt-4">Digitale Umfragen </h4>
      <p>Lassen Sie abstimmen, führen Sie ein Quiz durch , und fragen Sie Ihre SchülerInnen nach deren Meinung. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-cloud-upload-alt"></i></span>
      <h4 class="mt-4">Dateien hochladen </h4>
      <p>Stellen Sie Übungsmaterialien und weiterführende Materialien in diversen Dateiformaten zur Verfügung. </p>

    </div>

    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-glasses"></i></span>
      <h4 class="mt-4">Screenreader </h4>
      <p>Optimale Unterstützung auch für SchülerInnen mit Sehbehinderung.</p>

    </div>
    <div class="col-lg-3 col-md-6 w3-feature">
      <span class="stamp bg-primary"><i class="fas fa-2x fa-camera"></i></span>
      <h4 class="mt-4">Aufzeichnen </h4>
      <p>Zeichnen Sie Ihre Lektionen auf und stellen Sie diese Ihren SchülerInnen digital zur Verfügung. </p>

    </div>
    
  </div>
</div>
